/* ------------------------------------ */
/* CSS STYLE FOR ALL OUR HTML DOCUMENTS */
/* ------------------------------------ */

/* background, overall settings */ 
:root {
    /* variations of a forest green,
       see https://maketintsandshades.com/#228B22*/
    --green-color:#2E792D;
    --shade-green-color:#bed3ab;
    --grey-color:#F1F5ED;
}

body {
    margin: 0px;
    font-family: "Roboto", sans-serif;
    font-size: large;
    max-width: 100%;
}

/* bottom bar */
.footer {
    left: 0;
    bottom: 0;
    margin-top: 2rem;
    width: 100%;
    padding: 0.1rem;
    background-color: var(--grey-color);
    color: black;
    text-align: left;
    font-size: smaller;
    border-top: 0.1rem solid var(--green-color);
}
    .footer a {
        text-decoration: none;
        color: var(--green-color);
    }

/* top navigation bar */
.topnav {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 2; /* stack order; avoids tex going atop navigation */
    background-color: var(--shade-green-color);
    overflow: hidden;
    padding: 0;
    width: 100%;
    border-bottom: 0.1rem solid var(--green-color);
  }
  .topnav a {
    float: left;
    text-align: center;
    color: black;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    text-decoration: none;
  }
  .topnav a:hover {
    color: var(--green-color);
  }
  .topnav a:active {
    color: black;
    font-weight: bold;
  }
  .topnav a.split {
    float: right;
  }

  .anchor {
    position: absolute;
    top: -65px; /* given the fixed header is 50px tall, and you want 15px padding */
    left: 0px;
  }

/* headers */
h1 {
    max-width: 100%;
    display: block;
    color: black;
    font-size: 1.5rem;
    padding: 2rem;
    font-weight: normal;
    background-color: var(--grey-color);
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 2.7rem; /* is there a more elegant way to place this? */
    margin-left: 0;
    margin-right: 0;
}
    /* landing page */
    h1 strong {
        max-width: 100%;
        display: block;
        color: var(--green-color);
        font-size: 2.5rem;
        font-weight: bold;
        background-color: var(--grey-color);
    }

/* main body of the website */
.main {
    width: 85%;
    padding: 0;
    margin: 0;
    text-align: center;
    margin-left: auto; 
    margin-right: auto;
}

    /* clickable text */
    .main a {
        text-decoration: none;
        color: var(--green-color);
    }

/* tables */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    font-weight: normal;
    font-size: 1.3rem;
    padding: 0.2rem;
    text-align: left;
    border: none;
    margin-left: 1rem;
    border-top-right-radius: var(--rounded-corners);
    border-top-left-radius: var(--rounded-corners);
}

th {
    background-color: var(--grey-color);
    margin-bottom: 0.1rem;
}

tr.tree-separator td {
    border-top: 1px dashed black;
    margin-top: 2px;
    margin-bottom: 2px;
}

tr.model-separator td {
    border-top: 1px dashed var(--grey-color);
}

tr:hover td {background:var(--grey-color);}

/* subpage style and grid settings */
.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin: 1rem 0;
}

.module {
    padding: 0rem;
    background-color: var(--grey-color);
    border-radius: var(--rounded-corners);
}

.span-1 {
    grid-column: span 2;
}

.span-2 {
    grid-column: span 4;
}

.span-3 {
    grid-column: span 1;
}

/* box settings */
.module div#title {
    text-align: center;
    font-weight: normal;
    color: black;
    border-bottom: 0.1rem solid var(--green-color);
    padding: 0.5rem;
    background-color: var(--shade-green-color); 
    border-top-left-radius: var(--rounded-corners);
    border-top-right-radius: var(--rounded-corners);
  }

.module div#picture { 
    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin: auto;
}

.module div#content {
    margin: 0 auto;
    padding: 2rem;
    /*overflow-x: scroll;
    overflow-y: scroll;*/
    background-color: var(--grey-color);
    border-bottom-left-radius: var(--rounded-corners);
    border-bottom-right-radius: var(--rounded-corners);
    overflow-x: auto;
    /*white-space: nowrap;  Prevents the content from wrapping to the next line */
    height: 15rem;
    font-size: medium;
  }






div {
    text-align: left;
}

div.codebox {
    text-align: left;
    padding: 0.5rem;
    border: none;
    white-space: 0px;
    font-family: monospace;
    border-radius: var(--rounded-corners);
}

pre code {
    background-color: #f2f2f2;
    border: none;
    display: block;
    white-space: 0px;
    margin: 0;
  }



.box_title{
    grid-column: span 3;
    flex: 1;
    border: 1px solid #ccc; /* Adjust border style as needed */
    padding: 20px;
    background-color: #f0f0f0; /* Adjust background color as needed */
}
  
  