/* ------------------------------------ */
/* CSS STYLE FOR ALL OUR HTML DOCUMENTS */
/* ------------------------------------ */

/* background, overall settings */ 
:root {
    /* outdated: forest greens #2E792D and #bed3ab
                 gray green #F1F5ED and gray #f2f2f2
       for monochrome variations see https://maketintsandshades.com */
    --grey-color: #f8f9fa;
    --main-color: #4b2c4d;
    --shade-main-color: #e7e3e8;
    --contrast-color: #DB9210;
    --shade-contrast-color:#e8a109;
    --rounded-corners: 0.5rem;
    --line-thickness: 0.2rem;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */

}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: medium;
    max-width: 100%;
    background-color: #fafafa; /* Light background */
    color: #333; /* Darker text color for readability */
}

/* top navigation bar */
.topnav {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 2; /* stack order; avoids tex going atop navigation */
    background-color: var(--contrast-color);
    overflow: hidden;
    padding: 0;
    width: 100%;
    border-bottom: var(--line-thickness) solid var(--main-color);
    box-shadow: var(--box-shadow);
  }
  .topnav a {
    float: left;
    text-align: center;
    color: black;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    text-decoration: none;
    transition: color 0.3s;
  }
  .topnav a:hover {
    color: var(--main-color);
  }
  .topnav a:active {
    color: black;
    font-weight: bold;
  }
  .topnav a.split {
    float: right;
  }

/* headers */
.topheader {
    top: 2.2rem;
    left: 0;
    margin: 0;
    width: 100%;
    border-collapse: collapse;
    padding: 2rem;
    margin-bottom: 4rem;
    position: relative;
    color: var(--main-color);
    font-size: large;
    font-weight: 600;
    text-shadow: -0.2rem 0 white, 0 0.2rem white, 0.2rem 0 white, 0 -0.2rem white;
    /* background-color: var(--shade-main-color); */
    background: url('header_gray.png') repeat top center ;
    text-align: center;
    overflow-x: hidden;
}
    /* landing page header */
    .topheader div#emph {
        margin: 0;
        padding: 0;
        width: 100%;
        color: var(--main-color);
        font-size: 2.5rem;
        font-weight: bold;
        /*-webkit-text-fill-color: var(--main-color);
        -webkit-text-stroke-color: white;
        -webkit-text-stroke-width: 0.05rem; */
        text-align: center;
        overflow-x: hidden;
    }

/* bottom bar */
.footer {
    left: 0;
    bottom: 0;
    margin-top: 4rem;
    width: 100%;
    padding: var(--line-thickness);
    background-color: var(--grey-color);
    color: black;
    text-align: left;
    font-size: smaller;
    border-top: var(--line-thickness) solid var(--main-color);
    overflow-x: hidden;
}
    .footer a {
        text-decoration: none;
        color: var(--main-color);
    }

/* main body of the website */
.main {
    width: 85%;
    padding: 0;
    margin: 0;
    text-align: center;
    margin-left: auto; 
    margin-right: auto;
}

/* clickable text */
.main a {
    color: var(--main-color);
    text-decoration: none;
    transition: color 0.3s;
}
.main a:hover {
    color: var(--contrast-color);
}

/* main table */
table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th, td {
    font-weight: normal;
    padding: 0.5rem;
    border: none;
    width: 4rem;
    overflow: hidden; 
}
td > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Make the div fill the cell height */
}

th {
    background-color: var(--shade-contrast-color);
    color: var(--main-color);
    margin-bottom: var(--line-thickness);
    margin-left: 1rem;
    text-align: left;
    font-weight: 600;
}

tr.tree-separator td {
    border-top: var(--line-thickness) solid var(--main-color);
    margin-top: var(--line-thickness);
    margin-bottom: var(--line-thickness);
}

tr.model-separator td {
    border-top: var(--line-thickness) solid var(--grey-color);
}

tr:hover td {background:var(--grey-color);}
/*tr:hover td.first-child {background:none;} /*wasn't able to make this work...*/

.no-hover {
    pointer-events: none;
    background: transparent !important; /* Prevent background change on hover */
}

tr:hover td:not(.no-hover) {
    background-color: #fdf5e5;  /* Highlight color */
}

/* table in notation section */

.invariantstable {
    text-align: left;
}

.invariantstable tr {
    border-top: var(--line-thickness) solid var(--main-color);
    margin-top: var(--line-thickness);
    margin-bottom: var(--line-thickness);
}

.invariantstable td:first-child {
    width: max-content;
}

.invariantstable tr:hover td {background:none;}

.invariantstable tr:nth-child(even) {background:var(--grey-color);}

/* subpage style and grid settings */
.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 2rem;
    margin: 1rem 0;
}

.module {
    padding: 0rem;
    background-color: var(--grey-color);
    border-radius: var(--rounded-corners);
    box-shadow: var(--box-shadow); /* Soft shadow for card effect */
    overflow: hidden;
    transition: transform 0.3s; /* Smooth hover animation */
}

.span-1 {
    grid-column: span 2;
}

.span-2 {
    grid-column: span 4;
}

.span-3 {
    grid-column: span 1;
}

/* box settings */
.module div#title {
    text-align: center;
    font-weight: normal;
    color: var(--main-color);
    border-bottom: var(--line-thickness) solid var(--main-color);
    padding: 0.5rem;
    background-color: var(--shade-main-color); 
    border-top-left-radius: var(--rounded-corners);
    border-top-right-radius: var(--rounded-corners);
    padding: 0.75rem;
    font-weight: 600;
  }

.module div#picture { 
    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin: 0 auto;
    padding: 2rem;
    height: 15rem;
}

.module div#content {
    margin: 0 auto;
    padding: 2rem;
    background-color: var(--grey-color);
    border-bottom-left-radius: var(--rounded-corners);
    border-bottom-right-radius: var(--rounded-corners);
    overflow-x: auto;
    min-height: 6rem;
    max-height: 15rem;
    overflow-y: auto;
    font-size: medium;
  }


div {
    text-align: left;
}

div.codebox {
    margin: 0;
    text-align: left;
    padding: 0.5rem;
    white-space: 0px;
    font-family: monospace;
    border-radius: var(--rounded-corners);
}

pre code {
    background-color: var(--grey-color);
    display: block;
    white-space: 0px;
    margin: 0;
    text-align: left;
    padding: 0;
    font-family: monospace;
    font-size: 0.8rem;
    border-radius: var(--rounded-corners);
    width: fit-content;
  }

  #notification {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--main-color); /* Green */
    color: var(--shade-main-color); /* Text color */
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    font-size: 14px;
}
  
  /* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .topheader {
        font-size: 1rem;
        padding: 1.5rem;
        margin-bottom: 4rem; 
    }
    .footer {
        font-size: smaller;
    }
    .module div#content {
        padding: 1rem;
    }
}
