/* website background, overall settings */ 
:root {
    /*https://maketintsandshades.com/#228B22*/
    --green-color:#1f7d1f;
    --shade-green-color:#bddcbd;
    --grey-color:#f2f2f2;
}

.container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

/* navigation bar content and behaviour */
nav {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: var(--shade-green-color);
    margin-bottom: 2rem;
    border-bottom: 0.1rem solid var(--green-color);
    float: left;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-left: 1rem;
    margin-right: 1rem;
}
nav ul li a {
    color: black;
}
nav ul li a.split {
    display: inline;
    margin-left: 1rem;
    margin-right: 1rem;
    float: right;
}
nav ul li a:active {
    font-weight: bold;
}

/* header settings */
h1 {
    display: block;
    color: var(--green-color);
    font-size: 2rem;
    margin-top: 5rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    font-weight: bold;
}

h2 {
    display: block;
    color: black;
    font-size: 1.5rem;
    margin-top: 5rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    font-weight: bold;
}

/* table settings for landing page*/
table {
    width: 85%;
    border-collapse: collapse;
    margin-left: auto; 
    margin-right: auto
}

th, td {
    font-weight: normal;
    padding: 0.2rem;
    text-align: left;
    border: none;
    margin-left: 1rem;
}

th {
    background-color: var(--grey-color);
    margin-bottom: 2px;
    border-radius: 2px;
}

tr.tree-separator td {
    border-top: 1px dashed black;
    margin-top: 2px;
    margin-bottom: 2px;
}

tr.model-separator td {
    border-top: 1px dashed var(--grey-color);
}

tr:hover td {background:var(--grey-color);}

a {
    color: var(--green-color);
    text-decoration: none;
}

/* subpage style and grid settings */
.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    margin: 1rem 0;
}

.module {
    padding: 0rem;
    border-radius: 0px;
    background-color: var(--grey-color);
    border-radius: 10px;
}

.span-1 {
    grid-column: span 3;
}

.span-2 {
    grid-column: span 6;
}

.span-3 {
    grid-column: span 2;
}

.module h3 {
    text-align: center;
}

/* box settings */

div#title {
    text-align: center;
    /*flex: 1;*/
    border-bottom: 1px solid var(--green-color); /* Adjust border style as needed */
    padding: 5px;
    background-color: var(--grey-color); 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  div#content {
    margin: 0 auto;
    padding: 1rem 1.5rem;
    /*overflow-x: scroll;
    overflow-y: scroll;*/
    background-color: var(--grey-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow-x: auto;
    /*white-space: nowrap;  Prevents the content from wrapping to the next line */
    height: 200px; /* Set a fixed height for your container */
  }






div {
    text-align: left;
}

div.codebox {
    text-align: left;
    padding: 0.5rem;
    border: none;
    white-space: 0px;
    font-family: monospace;
    border-radius: 2px;
}

pre code {
    background-color: #f2f2f2;
    border: none;
    display: block;
    white-space: 0px;
    margin: 0;
  }



.box_title{
    grid-column: span 3;
    flex: 1;
    border: 1px solid #ccc; /* Adjust border style as needed */
    padding: 20px;
    background-color: #f0f0f0; /* Adjust background color as needed */
}
  
  