<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}algebraicphylogenetics.org{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        extensions: ['tex2jax.js'],
        jax: ['input/TeX','output/HTML-CSS'],
        TeX: {
          extensions: ['AMSmath.js', 'AMSsymbols.js'],
          Macros: {
            linebreak: ["", 1, ""],
            },
          TagSide: 'left',
          MAXBUFFER: 25600
        },
        tex2jax: {
          inlineMath: [['$','$']],
          displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
        },
        'HTML-CSS': { scale: 90, availableFonts: [] },
      });
    </script>
  
    <script type="text/javascript" async src="../static/texdisplay//MathJax-2.7.7/MathJax.js"></script>

    <script src="../static/texdisplay/js-yaml.min.js"></script>

    <!-- the two lines below would call tikzjax remotely (works fine)-->
    <!-- 
    <link rel="stylesheet" type="text/css" href="https://tikzjax.com/v1/fonts.css">
    <script src="https://tikzjax.com/v1/tikzjax.js"></script>
    -->

    <!-- the two lines below try to call tikzjax locally (doesn't work) -->
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='texdisplay/tikzjax-master_29112024/fonts.css') }}">
    <script src="../static/texdisplay/tikzjax-master_29112024/src/TikZJax.js"></script> 
    -->


</head>
<body>
    <div class="topnav">
                <a href="/" style="color:var(--green-color); font-weight:bold;">Database v0.2</a>
                <a href="/notation">Notions and notation</a>
                <a href="/about">About this project</a>               
                <a href="https://docs.oscar-system.org/dev/Experimental/AlgebraicStatistics/phylogenetics" class="split" target="_blank">AlgebraicPhylogenetics.jl documentation in <img style="height:1rem; vertical-align: middle;" src="https://docs.oscar-system.org/stable/assets/logo.png"></a>
                <a href="https://www.coloradocollege.edu/aapps/ldg/small-trees/small-trees_0.html" class="split"  target="_blank">Small Phylogenetic Trees (2007)</a>
    </div>
    {% block content %}{% endblock %}
    <div class="footer">
    This website is hosted at the Max Planck Institute for Mathematics in the Sciences in Leipzig, Germany. <a href="https://www.mis.mpg.de/imprint" target="_blank">Impressum</a>.
    </div>
</body>
</html>
