{% extends "base.html" %}
{% block content %}

<div class="topheader">
    <div id="emph">The algebraic phylogenetics database</div>
    specifying algebraic invariants of small trees and networks in phylogenetics
</div>

<div class="main">

<p style="text-align:left;">This is database version 0.2 of November 06, 2025.</p>

<table>
    <thead>
        <tr>
            <th style="border-top-left-radius:var(--rounded-corners);
                width: 10rem; text-align:center;">
                Tree graph or network</th>
            <th style="width:11rem;">Phylogenetic model</th>
            <th>Dimension</th>
            <th>Degree</th>
            <th>number of <br> probability <br> coordinates</th>
            <th>number of <br> Fourier <br> coordinates</th>
            <th>Dimension<br> Singular <br> Locus</th>
            <th>Degree<br> Singular <br> Locus</th>
            <th>MLdeg</th>
            <th>EDdeg</th>
            <th style="border-top-right-radius:var(--rounded-corners);">Download data</th>
        </tr>
    </thead>
    <tbody>
        {% for tikzpicture in treesastex %}
        <tr class="tree-separator">
            <td class="no-hover" rowspan="{{ nrrows[tikzpicture.id] }}" style="align-items: center; justify-content: center; text-align:center; padding:0;"> 
                <div style="display: flex; justify-content: center; align-items: center; pointer-events: none;">
                    <!--below is the tikzjax version-->
                    <!-- <script type="text/tikz">{{ tikzpicture.image }}</script> -->
                    <!--below is the svg version-->
                    <img src="../static/tex/image_{{ tikzpicture.id }}.svg" alt="{{ tikzpicture.idx }}" style="height:10rem;"> 
                </div>
                <!--below is another tikzjax specification-->
                <!--
                <style>
                    svg {
                        width: 90%;
                        height: auto;
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                        pointer-events: none;
                    }
                </style>
                -->
            </td>            
            {% for treeandmodel in treesandmodels[tikzpicture.id] %}
            <td style="text-align: left;">
                <a href="{{ url_for('subpage', treeandmodel_id=treeandmodel.id) }}">
                {{ treeandmodel.modelname }}</a></td>
            <td>{{ treeandmodel.dim }}</td>
            <td>{{ treeandmodel.deg }}</td>
            <td>{{ treeandmodel.np }}</td>
            <td>{{ treeandmodel.nq }}</td>
            <td>{{ treeandmodel.sD }}</td>
            <td>{{ treeandmodel.sd }}</td>
            <td>{{ treeandmodel.MLdeg }}</td>
            <td>{{ treeandmodel.EDdeg }}</td>
            <td>
                <a href="../static/data/{{treeandmodel.id}}.yaml" download>
                    <button style="float: right; background-color:var(--shade-main-color); color:var(--main-color); border: none; border-radius: 5px;cursor: pointer;">{{treeandmodel.id}}.yaml</button>
                  </a>
            </td>
        </tr>
        {% endfor %}
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
