{% extends "base.html" %}
{% block content %}
<div class="topheader">Details: {{ data.treename }} tree with {{data.modelname}} model ({{ treeandmodel_id }})</div>

<div class="main">

   {% set inv_filename = 'invariants_' ~ treeandmodel_id ~ '.mrdi' %}
    <p style="text-align:left;">Download data for this tree and model: 
        <a href="../static/data/{{ treeandmodel_id }}.yaml" download style="text-decoration: none;"><button style="background-color:var(--shade-main-color); color:var(--main-color); border: none; border-radius: 5px; cursor: pointer;">{{ treeandmodel_id }}.yaml</button></a>{% if check_file_exists(inv_filename) %}, {% else %} and {% endif %}
        <a href="../static/data/phylogeneticmodel_{{ treeandmodel_id }}.mrdi" download style="text-decoration: none;"><button style="background-color:var(--shade-main-color); color:var(--main-color); border: none; border-radius: 5px; cursor: pointer;">phylogeneticmodel_{{ treeandmodel_id }}.mrdi</button></a>{% if check_file_exists(inv_filename) %} and 
        <a href="../static/data/{{ inv_filename }}" download style="text-decoration: none;"><button style="background-color:var(--shade-main-color); color:var(--main-color); border: none; border-radius: 5px; cursor: pointer;">{{ inv_filename }}</button></a>{% endif %}.
    </p>
<div class="grid-container">
    {% if picture %}
    <div class="module span-3">
        <div id="title">Phylogenetic tree {{ tree_id }}
            <button class="copyBtn" data-file="../static/tex/tex_{{ tree_id }}.yaml" data-key="imagelabelled" 
            style="float: right; background-color:var(--shade-main-color); color:var(--main-color); border: none; border-radius: var(--line-thickness);cursor: pointer;">
                <svg style="width: 14px; height: 14px; vertical-align: middle; margin-right: 4px; margin-bottom: 2px;"><use href="#icon-copy"></use></svg>
            </button>
        </div>
        <div id="picture">
            <img src="../static/tex/imagelabelled_{{ tree_id }}.svg" alt="{{ tree_id }}" style="height:75%;">
        </div>
    </div>
    {% endif %}

    {% if data.details.transition_matrix %}
    <div class="module span-1">
        <div id="title">
            Evolutionary model
            <button id="copy-evolutionary-model" style="float: right; background-color:var(--shade-main-color); color:var(--main-color); border: none; border-radius: var(--line-thickness);cursor: pointer;"
                data-modelname="{{ data.modelname }}"
                data-root-distribution="{{ data.details.root_distributon }}"
                data-transition-matrix="{{ data.details.transition_matrix }}"
                data-fourier-parameters="{{ data.details.fourier_parameters }}">
                <svg style="width: 14px; height: 14px; vertical-align: middle; margin-right: 4px; margin-bottom: 2px;"><use href="#icon-copy"></use></svg> 
            </button>
        </div>
        <div id="content" style="overflow-x: auto;">
            <a href="/notation#models">{{ data.modelname }}</a> model with <a href="/notation#labelling">root distribution</a> {{ data.details.root_distributon }}. <br>
            The <a href="/notation#labelling">transition matrix</a> associated with edge $i$ is of the form
            {{ data.details.transition_matrix }} and the <a href="/notation#labelling">Fourier parameters</a> are {{ data.details.fourier_parameters }} for all edges $i$.
        </div>
    </div>
    {% endif %}

    {% if data.treename %}
    <div class="module span-3">
        <div id="title">Summary</div>
        <div id="content">
            <a href="/notation#invariants">Dimension:</a>  {{ data.dim }} <br>
            Degree: {{ data.deg }} <br>
            Probability coordinates: {{ data.np }} <br>
            Fourier coordinates: {{ data.nq }} <br>
            dim of Singular locus: {{ data.sd }} <br>
            deg of Singular locus: {{ data.sD }} <br>
            MLdeg: {{ data.MLdeg }} <br>
            EDdeg: {{ data.EDdeg }} <br>
        </div>
    </div>
    {% endif %}

    {% if data.details.probability_parametrization %}
    <div class="module span-1">
        <div id="title">Probability parametrization
            <button class="copyBtn" data-file="../static/data/{{ treeandmodel_id }}.yaml" data-key="details.probability_parametrization" 
            style="float: right; background-color:var(--shade-main-color); color:var(--main-color); border: none; border-radius: var(--line-thickness);cursor: pointer;">
                <svg style="width: 14px; height: 14px; vertical-align: middle; margin-right: 4px; margin-bottom: 2px;"><use href="#icon-copy"></use></svg>
            </button>
        </div>
        {% if data.details.probability_parametrization | length > 40000 %}
            <div id="content" class="tex2jax_ignore long-data-box">%LaTeX is not rendered due to size<br>{{ data.details.probability_parametrization | safe }}</div>
        {% else %}
            <div id="content" style="overflow-x: auto;">{{ data.details.probability_parametrization | safe }}</div>
        {% endif %}
    </div>
    {% endif %}

    {% if data.details.fourier_parametrization %}
    <div class="module span-1">
        <div id="title">Fourier parametrization
            <button class="copyBtn" data-file="../static/data/{{ treeandmodel_id }}.yaml" data-key="details.fourier_parametrization" 
            style="float: right; background-color:var(--shade-main-color); color:var(--main-color); border: none; border-radius: var(--line-thickness);cursor: pointer;">
                <svg style="width: 14px; height: 14px; vertical-align: middle; margin-right: 4px; margin-bottom: 2px;"><use href="#icon-copy"></use></svg>
            </button>
        </div>
        {% if data.details.fourier_parametrization | length > 40000 %}
            <div id="content" class="tex2jax_ignore long-data-box">%LaTeX is not rendered due to size<br>{{ data.details.fourier_parametrization }}</div>
        {% else %}
            <div id="content" style="overflow-x: auto;">{{ data.details.fourier_parametrization }}</div>
        {% endif %}
    </div>
    {% endif %}

    {% if data.details.equivalent_classes_prob %}
    <div class="module span-1">
        <div id="title">Equivalent classes of probability parametrization
            <button class="copyBtn" data-file="../static/data/{{ treeandmodel_id }}.yaml" data-key="details.equivalent_classes_prob" 
            style="float: right; background-color:var(--shade-main-color); color:var(--main-color); border: none; border-radius: var(--line-thickness);cursor: pointer;">
                <svg style="width: 14px; height: 14px; vertical-align: middle; margin-right: 4px; margin-bottom: 2px;"><use href="#icon-copy"></use></svg>
            </button>
        </div>
        {% if data.details.equivalent_classes_prob | length > 40000 %}
            <div id="content" class="tex2jax_ignore long-data-box">%LaTeX is not rendered due to size<br>{{ data.details.equivalent_classes_prob | safe }}</div>
        {% else %}
            <div id="content" style="overflow-x: auto;">{{ data.details.equivalent_classes_prob | safe }}</div>
        {% endif %}
    </div>
    {% endif %}

    {% if data.details.equivalent_classes_fourier %}
    <div class="module span-1">
        <div id="title">Equivalent classes of Fourier parametrization
            <button class="copyBtn" data-file="../static/data/{{ treeandmodel_id }}.yaml" data-key="details.equivalent_classes_fourier" 
            style="float: right; background-color:var(--shade-main-color); color:var(--main-color); border: none; border-radius: var(--line-thickness);cursor: pointer;">
                <svg style="width: 14px; height: 14px; vertical-align: middle; margin-right: 4px; margin-bottom: 2px;"><use href="#icon-copy"></use></svg>
            </button>
        </div>
        {% if data.details.equivalent_classes_fourier | length > 40000 %}
            <div id="content" class="tex2jax_ignore long-data-box">%LaTeX is not rendered due to size<br>{{ data.details.equivalent_classes_fourier }}</div>
        {% else %}
            <div id="content" style="overflow-x: auto;">{{ data.details.equivalent_classes_fourier }}</div>
        {% endif %}
    </div>
    {% endif %}

    {% if data.details.invariants %}
    <div class="module span-1">
        <div id="title">Invariants in Fourier coordinates
            <button class="copyBtn" data-file="../static/data/{{ treeandmodel_id }}.yaml" data-key="details.invariants" 
            style="float: right; background-color:var(--shade-main-color); color:var(--main-color); border: none; border-radius: var(--line-thickness);cursor: pointer;">
                <svg style="width: 14px; height: 14px; vertical-align: middle; margin-right: 4px; margin-bottom: 2px;"><use href="#icon-copy"></use></svg>
            </button>
        </div>
        {% if data.details.invariants | length > 40000 %}
            <div id="content" class="tex2jax_ignore long-data-box">%LaTeX is not rendered due to size<br>{{ data.details.invariants }}</div>
        {% else %}
            <div id="content" style="overflow-x: auto;">{{ data.details.invariants }}</div>
        {% endif %}
    </div>
    {% endif %}

    {% if data.details.grobner_basis %}
    <div class="module span-1">
        <div id="title">Gröbner basis of ideal of invariants
            <button class="copyBtn" data-file="../static/data/{{ treeandmodel_id }}.yaml" data-key="details.grobner_basis" 
            style="float: right; background-color:var(--shade-main-color); color:var(--main-color); border: none; border-radius: var(--line-thickness);cursor: pointer;">
                <svg style="width: 14px; height: 14px; vertical-align: middle; margin-right: 4px; margin-bottom: 2px;"><use href="#icon-copy"></use></svg>
            </button>
        </div>
        {% if data.details.grobner_basis | length > 40000 %}
            <div id="content" class="tex2jax_ignore long-data-box">%LaTeX is not rendered due to size<br>{{ data.details.grobner_basis }}</div>
        {% else %}
            <div id="content" style="overflow-x: auto;">{{ data.details.grobner_basis }}</div>
        {% endif %}
    </div>
    {% endif %}

    {% if data.mu %}
    <div class="module span-2">
        <div id="title">Additional information</div>
        <div id="content">
            The cardinality of the smallest set of generators that define the ideal of phylogenetic invariants: {{ data.mu }} <br>
            The largest degree of a generator in the degree reverse lexicographic reduced Gröbner basis: {{ data.E }} <br>
            The largest degree of an element in a minimal generating set for the ideal of phylogenetic invariants: {{ data.e }} <br>
            The cardinality of the degree reverse lexicographic reduced Gröbner basis of the ideal of phylogenetic invariants: {{ data.M }}
        </div>
    </div>
    {% endif %}

    {% if data.details.specialized_fourier_transform %}
    <div class="module span-3">
        <div id="title">Specialized Fourier transform
            <button class="copyBtn" data-file="../static/data/{{ treeandmodel_id }}.yaml" data-key="details.specialized_fourier_transform" 
            style="float: right; background-color:var(--shade-main-color); color:var(--main-color); border: none; border-radius: var(--line-thickness);cursor: pointer;">
                <svg style="width: 14px; height: 14px; vertical-align: middle; margin-right: 4px; margin-bottom: 2px;"><use href="#icon-copy"></use></svg>
            </button>
        </div>
        {% if data.details.specialized_fourier_transform | length > 40000 %}
            <div id="content" class="tex2jax_ignore long-data-box">%LaTeX is not rendered due to size<br>{{ data.details.specialized_fourier_transform }}</div>
        {% else %}
            <div id="content" style="overflow-x: auto;">{{ data.details.specialized_fourier_transform }}</div>
        {% endif %}
    </div>
    {% endif %}

    {% if data.details.inverse_specialized_fourier_transform %}
    <div class="module span-3">
        <div id="title">Inverse specialized Fourier transform
            <button class="copyBtn" data-file="../static/data/{{ treeandmodel_id }}.yaml" data-key="details.inverse_specialized_fourier_transform"
            style="float: right; background-color:var(--shade-main-color); color:var(--main-color); border: none; border-radius: var(--line-thickness);cursor: pointer;">
                <svg style="width: 14px; height: 14px; vertical-align: middle; margin-right: 4px; margin-bottom: 2px;"><use href="#icon-copy"></use></svg>
            </button>
        </div>
        {% if data.details.inverse_specialized_fourier_transform | length > 40000 %}
            <div id="content" class="tex2jax_ignore long-data-box">%LaTeX is not rendered due to size<br>{{ data.details.inverse_specialized_fourier_transform }}</div>
        {% else %}
            <div id="content" style="overflow-x: auto;">{{ data.details.inverse_specialized_fourier_transform }}</div>
        {% endif %}
    </div>
    {% endif %}
</div>
</div>

<script>
    // Global Toast Function
    let toastTimeout;
    function showToast(message) {
        const toast = document.getElementById('global-toast');
        if (!toast) {
            console.error("Global toast element not found. Ensure <div id='global-toast'> is in base.html.");
            return;
        }
        
        if (message) toast.textContent = message; 

        toast.classList.add('show');
        
        clearTimeout(toastTimeout);
        toastTimeout = setTimeout(() => {
            toast.classList.remove('show');
        }, 3000);
    }

    // Helper function: safely access nested keys
    function getNestedValue(obj, path) {
        return path.split('.').reduce((acc, key) => (acc && acc[key] !== undefined) ? acc[key] : undefined, obj);
    }

    // Evolutionary Model Button Logic
    const evolutionaryModelButton = document.getElementById('copy-evolutionary-model');
    if (evolutionaryModelButton) {
        evolutionaryModelButton.addEventListener('click', async function() {
            try {
                const modelName = this.getAttribute('data-modelname');
                const rootDistribution = this.getAttribute('data-root-distribution');
                const transitionMatrix = this.getAttribute('data-transition-matrix');
                const fourierParameters = this.getAttribute('data-fourier-parameters');

                const textToCopy = `${modelName} model with root distribution ${rootDistribution}.
The transition matrix associated with edge $i$ is of the form 
${transitionMatrix} 
and the Fourier parameters are ${fourierParameters} for all edges $i$.`;

                await navigator.clipboard.writeText(textToCopy);
                showToast("Evolutionary model copied!");
            } catch (err) {
                console.error('Failed to copy text:', err);
                showToast("Failed to copy evolutionary model.");
            }
        });
    }

    // Generic YAML Button Logic with DOM Fallback
    document.querySelectorAll('.copyBtn').forEach(button => {
        button.addEventListener('click', async function() {
            const filePath = this.getAttribute('data-file'); 
            const keyPath = this.getAttribute('data-key');   

            try {
                const response = await fetch(filePath);
                if (!response.ok) throw new Error(`File not found: ${filePath}`);

                const yamlText = await response.text();
                const yamlData = jsyaml.load(yamlText);

                const value = getNestedValue(yamlData, keyPath);
                if (value === undefined) throw new Error(`Key "${keyPath}" not found`);

                const copyText = typeof value === 'object'
                    ? JSON.stringify(value, null, 2)
                    : String(value);

                await navigator.clipboard.writeText(copyText);
                showToast(`Copied to clipboard!`); 
            } catch (error) {
                console.warn("YAML fetch/parse failed. Attempting DOM extraction fallback.", error);
                
                // Fallback: extract text directly from the adjacent content div
                const moduleContainer = this.closest('.module');
                if (moduleContainer) {
                    const contentDiv = moduleContainer.querySelector('#content');
                    if (contentDiv) {
                        const copyText = contentDiv.textContent || contentDiv.innerText;
                        
                        try {
                            await navigator.clipboard.writeText(copyText.trim());
                            showToast(`Copied ${keyPath} (from page)!`);
                        } catch (clipboardErr) {
                            console.error("Clipboard API failed during fallback:", clipboardErr);
                            showToast("Failed to copy to clipboard.");
                        }
                    } else {
                        showToast("Error: Content not found on page.");
                    }
                } else {
                    showToast(`Error: ${error.message}`);
                }
            }
        });
    });
</script>

{% endblock %}