{% extends "base.html" %}

{% block content %}
<h2>About</h2>

<div style="text-align: left;">
  <p></p>
  <dl>
  <P>
  <dt><b>Scope</b></dt><dd>  
  <P>
  This website presents an algebraic classification of small tree models in phylogenetics. It currently hosts data on twentysix trees, paired with five different model types. For each, we determine algebraic invariants which describe the model's geometry. These are listed in the table on the landing page. Mathematical details can be found on individual subpages for each tree and model.

  We focus on providing thorough computational proof for every result. To achieve this, the website is supplemented by the <a href="https://docs.oscar-system.org/dev/Experimental/AlgebraicStatistics/phylogenetics/">AlgebraicPhylogenetics.jl</a> software. The code is part of the <a href="https://docs.oscar-system.org/dev/Experimental/AlgebraicStatistics">AlgebraicStatistics.jl</a> package in the <a href="https://docs.oscar-system.org">OSCAR project</a>, written in <a href="https://julialang.org">Julia</a>.

  <dt><b>Background</b></dt><dd>  
  <P>
  The models studied here are the following.
  <p>
  <b>CFN or Cavender-Ferris-Neyman</b>
  <p>
  <b>JC69 or Jukes-Cantor:</b>
  Jukes, Thomas H. and Charles R. Cantor (1969). "Evolution of protein molecules". In: Mammalian protein metabolism 3, pp. 21–132. <a hef="https://doi.org/10.1016/B978-1-4832-3211-9.50009-7">doi: 10.1016/B978-1-4832-3211-9.50009-7</a>
  <p>
  <b>K80 or Kimura 3:</b>
  Kimura, Motoo (1980). "A simple method for estimating evolutionary rates of base substitutions through comparative studies of nucleotide sequences". In: Journal of Molecular Evolution 16(2), pp. 111–120. issn: 0022-2844. <a hef="https://doi.org/10.1007/BF01731581">doi: 10.1007/BF01731581</a>.
  <p>
  <b>K81 or Kimura 2:</b>
  Kimura, Motoo (1981). "Estimation of evolutionary distances between homologous nucleotide sequences." In: Proceedings of the National Academy of Sciences 78(1), pp. 454–458. issn: 0027-8424. <a hef="https://doi.org/10.1073/pnas.78.1.454">doi: 10.1073/pnas.78.1.454</a>
  <p>
  <b>GM or General Markov:</b>
  Allman, Elizabeth S., John A. Rhodes, and Amelia Taylor (2014). "A Semialgebraic Description of the General Markov Model on Phylogenetic Trees". In: SIAM Journal on Discrete Mathematics 28(2), pp. 736–755. issn: 0895-4801. <a hef="https://doi.org/10.1137/120901568">doi: 10.1137/120901568</a>. eprint: 1212.1200 (q-bio.PE).
  <P>
  The algebraic-geometry theory is based on results collected by Lior Pachter and Bernd Sturmfels (2005; Algebraic Statistics for computational biology. Cambridge University Press) and follow-up work. In particular, the 2006 version of this database is discussed in Chapter 15 "Catalog of Small Trees" in that book, written by Marta Casanellas, Luis David Garcia Puente, and Seth Sullivant.


<dt><b>Contribution</b></dt><dd>  
  <P>
  This website was set up and is currently maintained by 

  <a href="https://sites.google.com/view/marinagarrotelopez">Marina Garrote-López</a>,
  <a href="https://luisgarciapuente.github.io">Luis David Garcia Puente</a>,
  <a href="https://sites.google.com/view/goergen">Christiane Görgen</a>, and
  <a href="https://www.mardi4nfdi.de/community/help-desk">Tabea Bacher</a>.

  Its design was adapted to fit our needs from <a href="https://www.fanography.info">fanography.info</a> thanks to <a href="https://axtimhaus.eu">Victor Zimmermann</a>

  The source code is available on <a href="https://github.com/chgoergen/smalltreeswebsite">GitHub</a> under the <a href="https://choosealicense.com/licenses/mit">MIT License</a>. You can copy, use, and modify this project freely.

  Want to contribute? Please do! You can join our team on GitHub by forking <a href="https://github.com/chgoergen/smalltreeswebsite">the repository this website is build on</a> or <a href="https://github.com/bkholler/Oscar.jl">our software package</a>, modifying the content at your leasure, and sending us a pull request.

<dt><b>Citation</b></dt><dd>  
  <P>

You may cite this database as
<div class="box">
  <pre>
  <code>
@online{smalltrees,
  author = {The algebraic-phylogenetics collaboration},
  title = {A database of small tress and networks in algebraic phylogenetics},
  year = 2024,
  url = {http://www.algebraicphylogenetics.org},
  urldate = {}
}
  </code>
  </pre>
</div>

{% endblock %}