<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}algebraicphylogenetics.org{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script>
      window.MathJax = {
        tex: {
          inlineMath: [['$', '$'], ['\\(', '\\)']],
          displayMath: [['$$', '$$'], ['\\[', '\\]']]
        },
        options: {
          skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre']
        }
      };
    </script>
    <link rel="stylesheet" type="text/css" href="https://tikzjax.com/v1/fonts.css">
    <script src="https://tikzjax.com/v1/tikzjax.js"></script>
    <link rel="stylesheet" type="text/css"
    href="https://cdn.rawgit.com/dreampulse/computer-modern-web-font/master/fonts.css">
    <style>
      body {
        font-family: "Computer Modern Sans", sans-serif;
      }
    </style>
</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li style="color:var(--green-color); font-weight:bold;"><a href="/">Database</a></li>
                <li><a href="/notation">Notions and notation</a></li>  
                <li><a href="/about">About this project</a></li>                
                <li><a href="https://docs.oscar-system.org/dev/Experimental/AlgebraicStatistics/phylogenetics" class="split" target="_blank"><img style="height:1rem" src="https://docs.oscar-system.org/stable/assets/logo.png"> AlgebraicPhylogenetics.jl documentation</a></li>
                <li><a href="https://www.coloradocollege.edu/aapps/ldg/small-trees/small-trees_0.html" class="split"  target="_blank">Small Phylogenetic Trees (2007)</a></li>
            </ul>
        </nav>   
        {% block content %}{% endblock %}
    </div>
</body>
</html>
