{% extends "base.html" %}
{% block content %}

<div class="topheader">
    <div id="emph">The algebraic phylogenetics database</div>
    specifying algebraic invariants of small trees and networks in phylogenetics
</div>

<div class="main">
<table>
    <thead>
        <tr>
            <th style="border-top-left-radius:var(--rounded-corners);width: 10rem">
                Tree graph</th>
            <th style="width:11rem;">Phylogenetic model</th>
            <th>Dimension</th>
            <th>Degree</th>
            <th>number of <br> probability <br> coordinates</th>
            <th>number of <br> Fourier <br> coordinates</th>
            <th>Dimension<br> Singular <br> Locus</th>
            <th>Degree<br> Singular <br> Locus</th>
            <th>MLdeg</th>
            <th style="border-top-right-radius:var(--rounded-corners);">EDdeg</th>
        </tr>
    </thead>
    <tbody>
        {% for tikzpicture in treesastex %}
        <tr class="tree-separator">
            <td rowspan="4" style="padding: 1rem;">
                <script type="text/tikz">{{ tikzpicture.image }}</script></td>
        {% for treeandmodel in treesandmodels[tikzpicture.id] %}
            <td style="text-align: left;">
                <a href="{{ url_for('subpage', treeandmodel_id=treeandmodel.id) }}">
                {{ treeandmodel.modelname }}</a></td>
            <td>{{ treeandmodel.deg }}</td>
            <td>{{ treeandmodel.np }}</td>
            <td>{{ treeandmodel.dim }}</td>
            <td>{{ treeandmodel.nq }}</td>
            <td>{{ treeandmodel.sD }}</td>
            <td>{{ treeandmodel.sd }}</td>
            <td>{{ treeandmodel.MLdeg }}</td>
            <td>{{ treeandmodel.EDdeg }}</td>
        </tr>
        {% endfor %}
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
