{% extends "base.html" %}
{% block content %}

<h1>
    <strong>The algebraic phylogenetics database</strong>
    specifying algebraic invariants of small trees and networks in phylogenetics
</h1>

<div class="main">
<table>
    <thead>
        <tr>
            <th>Tree</th>
            <th>Model</th>
            <th>dim</th>
            <th>deg</th>
            <th>number of <br> probability <br> coordinates</th>
            <th>number of <br> Fourier <br> coordinates</th>
            <th>dim of <br> Singular Locus</th>
            <th>deg of <br> Singular Locus</th>
            <th>MLdeg</th>
            <th>EDdeg</th>
        </tr>
    </thead>
    <tbody>
        {% for tikzpicture in treesastex %}
        <tr class="tree-separator">
            <td rowspan="4"><script type="text/tikz">{{ tikzpicture.image }}</script></td>
        {% for treeandmodel in treesandmodels[tikzpicture.id] %}
            <td><a href="{{ url_for('subpage', treeandmodel_id=treeandmodel.id) }}">{{ treeandmodel.modelname }}</a></td>
            <td>{{ treeandmodel.deg }}</td>
            <td>{{ treeandmodel.np }}</td>
            <td>{{ treeandmodel.dim }}</td>
            <td>{{ treeandmodel.nq }}</td>
            <td>{{ treeandmodel.sD }}</td>
            <td>{{ treeandmodel.sd }}</td>
            <td>{{ treeandmodel.MLdeg }}</td>
            <td>{{ treeandmodel.EDdeg }}</td>
        </tr>
        {% endfor %}
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
