{% extends "base.html" %}

{% block title %}A database of small trees and networks in algebraic phylogenetics{% endblock %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>Tree</th>
            <th>Model</th>
            <th>dim</th>
            <th>deg</th>
            <th>np</th>
            <th>nq</th>
            <th>sD</th>
            <th>sd</th>
            <th>MLdeg</th>
            <th>EDdeg</th>
        </tr>
    </thead>
    <tbody>
        {% for tree in trees %}
        <tr class="tree-separator">
            <td rowspan="{{ tree.models|length }}"><script type="text/tikz",style="padding:100px">{{ tree.image }}</script></td>
            <td><a href="{{ url_for('subpage', tree_name=tree.name, model_name=tree.models[0].name) }}">{{ tree.models[0].name }}</a></td>
            <td><a href="#">{{ tree.models[0].dim }}</a></td>
            <td><a href="#">{{ tree.models[0].deg }}</a></td>
            <td><a href="#">{{ tree.models[0].np }}</a></td>
            <td><a href="#">{{ tree.models[0].nq }}</a></td>
            <td><a href="#">{{ tree.models[0].sD }}</a></td>
            <td><a href="#">{{ tree.models[0].sd }}</a></td>
            <td><a href="#">{{ tree.models[0].MLdeg }}</a></td>
            <td><a href="#">{{ tree.models[0].EDdeg }}</a></td>
        </tr>
        {% for model in tree.models[1:] %}
        <tr class="model-separator">
            <td><a href="{{ url_for('subpage', tree_name=tree.name, model_name=model.name) }}">{{ model.name }}</a></td>
            <td><a href="#">{{ model.dim }}</a></td>
            <td><a href="#">{{ model.deg }}</a></td>
            <td><a href="#">{{ model.np }}</a></td>
            <td><a href="#">{{ model.nq }}</a></td>
            <td><a href="#">{{ model.sD }}</a></td>
            <td><a href="#">{{ model.sd }}</a></td>
            <td><a href="#">{{ model.MLdeg }}</a></td>
            <td><a href="#">{{ model.EDdeg }}</a></td>
        </tr>
        {% endfor %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}
