{% extends "base.html" %}


{% block content %}
<h2>Notions and notation</h2>
<div style="text-align: left;">
    <p></p>
    <dl>
    <P>
    <dt><b>Labelling conventions</b></dt><dd>  
    <P>
    If $T$ is a rooted tree, there is a distinguished vertex of $T$ called the root. The tree $T$ is drawn with the root at the top and all its children and their respective children below, with the leaves on the bottom-most level. The edges are numbered $e_1, e_2, ...$ starting at the upper left hand corner, proceeding left to right and top to bottom. The leaves are labeled with the numbers $1,2,3,...$ starting with the left-most leaf and proceeding left to right.
    <P>
    If $T$ is an unrooted tree, it is drawn with the leaves on a circle and all inner edges and vertices within that circle. The edges of $T$ are numbered $e_1,e_2,...$ starting at the upper left hand corner of the figure and proceeding left to right and top to bottom. The leaves are labeled with the numbers $1,2,3,...$ starting at the first leaf strictly left of the 12 o'clock position and proceeding counterclockwise around the perimeter of the circle. 
    <P> Here's a test tikz treeeeee!
    <script type="text/tikz">
        \begin{tikzpicture}[%
            inner/.style={draw,circle,inner sep=1pt,fill=black},
            leaf/.style={draw,circle,inner sep=2pt}]
        \node (root) [inner] at (0,0) {};
        \node (leaf1) [leaf,label=left:$X_1$] at (-1,0) {};
        \node (leaf2) [leaf,label=below:$X_2$] at (1,-1) {};
        \node (leaf3) [leaf,label=right:$X_3$] at (1,1) {};
        \draw (root) -- node [above] {$M_1$} (leaf1);
        \draw (root) -- node [below=2pt,pos=0.4] {$M_2$} (leaf2);
        \draw (root) -- node [below=3pt,pos=0.8] {$M_3$} (leaf3);
        \end{tikzpicture}
    </script>
    
{% endblock %}