{% extends "base.html" %}



{% block content %}
<h2>Notation</h2>
<div style="text-align: justify;">
    <p></p>
    <dl>
    <P>
    <dt><i><b>D</b></i></dt><dd>  The dimension of the model. This corresponds to the least number of parameters needed to specify
    the model plus one. This numerical invariant is actually the algebraic dimension of the toric ideal.
    After slicing the corresponding variety with the hyperplane given by the polynomial obtained from adding all indeterminates 
    <i>q<sub>j</sub> </i> minus 1, the dimension drops by one 
    giving exactly the minimum number of parameters needed to specify the model.  This algebraic operation corresponds to considering
    only the points in the variety whose coordinates sum up to 1.
    <P>
    </dd><dt><i><b>d</b></i></dt><dd> The degree of the model.  Algebraically, this is defined as the number of
    points in the intersection of the model and a generic (i.e. "random") subspace of complementary dimension. This is one of the most
    important numerical invariants of a variety. In particular, when the variety is zero-dimensional (a collection of points), this numerical 
    invariant gives the actual number of points. 
    <P>
    </dd><dt><i><b>E</b></i></dt><dd> The largest degree of a generator in the degree reverse lexicographic reduced Gr&ouml;bner
    basis. 
    <P>
    </dd><dt><i><b>e</b></i></dt><dd> 
    The largest degree of an element in a minimal generating set for the ideal of phylogenetic invariants.
    This could be thought as a measure of the complexity of the model. 
    <P>
    </dd><dt><i><b>M</b></i></dt><dd> The cardinality of the <em>degree reverse lexicographic reduced  Gr&ouml;bner basis</em> of 
    the ideal of phylogenetic invariants. We always use the ordering <i>q<sub>1</sub> &gt; q<sub>2</sub> &gt; q<sub>3</sub> &gt; &#183;&#183;&#183;</i>.
    <P>
    </dd><dt><i><b>mld</b></i></dt><dd> The maximum likelihood degree of the model. This is the degree of the <em>ML equations</em> of the model. 
    Given some data and a model, the likelihood function is a rational function on the corresponding (projective) variety.  
    The set of solutions to the ML equations consists of all critical points of the Likelihood function. These gives an algebraic
    algorithm to compute symbolically <b>all</b> local maxima of the Likelihood function. the ML degree is a measure of how many 
    local maxima are there. This numerical invariant should be useful when applying hill-climbing algorithms to compute local
    maxima if it is used as a measure of confidence on the chances that the local maxima approximated is actually a global maximum.   
    <P>
    </dd><dt><i><b>&#181;</b></i></dt><dd> The cardinality of the smallest set of generators
    that define the ideal of phylogenetic invariants.
    <P>
    </dd><dt><i><b>np</b></i></dt><dd>  Number of equivalences classes of the probability coordinates.
    <P>
    </dd><dt><i><b>nq</b></i></dt><dd>  Number of equivalence classes of Fourier coordinates without
    counting class 0.  This is also the dimension of the smallest linear space that contains the model.
    <P>
    </dd><dt><i><b>p<sub>i</sub></b></i></dt><dd> The sum of all probability coordinates in the <i>i</i>th equivalence class. These indeterminates form 
    a set of sufficient statistics for the given model.  
    <P>
    </dd><dt><i><b>q<sub>j</sub></b></i></dt><dd> The average of all Fourier coordinates in the <i>j</i>th equivalence class.
    <P>
    </dd><dt><i><b>sD</b></i></dt><dd>  The dimension of the set of singular points of the model. The singular locus of a model
    is very important to understand the geometry of the model. In particular, it is necessary for the ML degree computation.
    <P>
    </dd><dt><i><b>sd</b></i></dt><dd>  The algebraic degree of the set of singular points of the model.
    </dd></dl></div>
{% endblock %}