{% extends "base.html" %}
{% block content %}

<h1>Details: {{ data.treename }} tree with {{data.modelname}} model ({{ treeandmodel_id }})</h1>

<div class="main">
<div class="grid-container">
    {% if data.details.phylogenetic_tree %}
    <div class="module span-3">
        <div id="title">Phylogenetic tree {{ tree_id }}</div>
        <div id="content">
            <script type="text/tikz">
                {{ data.details.phylogenetic_tree }}
            </script>
        </div>
    </div>
    {% endif %}

    {% if data.details.evolutionary_model %}
    <div class="module span-3">
        <div id="title">Evolutionary model</div>
        <div id="content">{{ data.details.evolutionary_model }}</div>
    </div>
    {% endif %}

    {% if data.details.summary %}
    <div class="module span-3">
        <h3>Summary</h3>
        <pre>{{ data.details.summary }}</pre>
    </div>
    {% endif %}


    {% if data.details.probability_parametrization %}
    <div class="module span-1">
        <div id="title">Probability parametrization</div>
        <div id="content">{{ data.details.probability_parametrization | safe }}</div>
    </div>
    {% endif %}

    {% if data.details.equivalent_classes_prob %}
    <div class="module span-1">
        <div id="title">Equivalent classes of probability parametrization</div>
        <div id="content">{{ data.details.equivalent_classes_prob | safe }}</div>
    </div>
    {% endif %}

    {% if data.details.fourier_parametrization %}
    <div class="module span-1">
        <div id="title">Fourier parametrization</div>
        <div id="content">{{ data.details.fourier_parametrization }}</div>
    </div>
    {% endif %}

    {% if data.details.equivalent_classes_fourier %}
    <div class="module span-1">
        <div id="title">Equivalent classes of Fourier parametrization</div>
        <div id="content">{{ data.details.equivalent_classes_fourier }}</div>
    </div>
    {% endif %}

    {% if data.details.invariants %}
    <div class="module span-1">
        <div id="title">Invariants in Fourier coordinates</div>
        <div id="content">{{ data.details.invariants }}</div>
    </div>
    {% endif %}

    {% if data.details.grobner_basis %}
    <div class="module span-1">
        <div id="title">Gröbner basis of ideal of invariants</div>
        <div id="content">{{ data.details.grobner_basis }}</div>
    </div>
    {% endif %}

    {% if data.details.specialized_fourier_transform %}
    <div class="module span-2">
        <div id="title">Specialized Fourier transform</div>
        <div id="content">{{ data.details.specialized_fourier_transform }}</div>
    </div>
    {% endif %}
</div>
</div>

{% endblock %}